{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{#{% from 'SiteMainBundle:Frontend/News:macros.html.twig' import listTab %}#}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sitemain/frontend/scripts/SidebarTransitions/component.css') }}">
{% endblock %}

{% block content %}
    <div class="background-video">
        <div class="video" id="video"></div>
        <div class="grid grid-main">
            {% for product in products %}<div class="wrap-box">
                    <div class="box">
                        {% set link = path('frontend_products_one', {'permalink' : product.permalink}) %}
                        <a href="{{ link }}" class="first" style="background: url('{{ asset(product.webPath) }}');"><img src="{{ asset(product.webPath) }}" alt=""/></a>
                        <a href="{{ link }}" class="name">{{ product.title }}</a>
                    </div>
                </div>{% endfor %}
        </div>
    </div>
    <section id="main" class="main">
        <div class="block-1">
            <h2>Релакс</h2>
            <div class="grid grid-main">
                {% for product in productsRelax %}<div class="wrap-box">
                    <div class="box">
                        {% set link = path('frontend_products_one', {'permalink' : product.permalink}) %}
                        <a href="{{ link }}" class="first" style="background: url('{{ asset(product.webPath) }}');"><img src="{{ asset(product.webPath) }}" alt=""/></a>
                        <a href="{{ link }}" class="name">{{ product.title }}</a>
                    </div>
                    </div>{% endfor %}
            </div>
            <hr/>
        </div>
        <div class="block2">
            <div class="video"></div>
            <h2>Отзывы</h2>
            <div class="reviews">
                <div>
                    <div class="wrap-photo"><div class="photo"></div></div>
                    <div class="text">
                        <p>Строительство бассейна придаст вашему дому новый уровень комфорта, а так же превратит его во все сезонный курорт.&nbsp;<br />
                            Компания СЕАН АКВА-ТЕРМ специализируется на предоставлении комплекса услуг по проектированию, строительству&nbsp;и эксплуатации бассейнов. Нашими партнерами являются ведущие немецкие компании, работающие в сфере&nbsp;проектирования и производства оборудования</p>

                        <p><strong>компания &laquo;газпром&raquo;</strong></p>
                    </div>
                </div>
                <div>
                    <div class="wrap-photo"><div class="photo"></div></div>
                    <div class="text">
                        <p>Строительство бассейна придаст вашему дому новый уровень комфорта, а так же превратит его во все сезонный курорт.&nbsp;<br />
                            Компания СЕАН АКВА-ТЕРМ специализируется на предоставлении комплекса услуг по проектированию, строительству&nbsp;и эксплуатации бассейнов. Нашими партнерами являются ведущие немецкие компании, работающие в сфере&nbsp;проектирования и производства оборудования</p>

                        <p><strong>компания &laquo;газпром&raquo;</strong></p>
                    </div>
                </div>
                <div>
                    <div class="wrap-photo"><div class="photo"></div></div>
                    <div class="text">
                        <p>Строительство бассейна придаст вашему дому новый уровень комфорта, а так же превратит его во все сезонный курорт.&nbsp;<br />
                            Компания СЕАН АКВА-ТЕРМ специализируется на предоставлении комплекса услуг по проектированию, строительству&nbsp;и эксплуатации бассейнов. Нашими партнерами являются ведущие немецкие компании, работающие в сфере&nbsp;проектирования и производства оборудования</p>

                        <p><strong>компания &laquo;газпром&raquo;</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}