{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{#{% from 'SiteMainBundle:Frontend/News:macros.html.twig' import listTab %}#}

{% block content %}
    <div class="background-video">
        <div class="video" id="video"></div>
        <div class="grid grid-main">
            {% for product in products %}<div class="wrap-box">
                    <div class="box">
                        {% set link = path('frontend_products_one', {'permalink' : product.permalink}) %}
                        <a href="{{ link }}" class="first" style="background: url('{{ asset(product.webPath) }}');"><img src="{{ asset(product.webPath) }}" alt=""/></a>
                        <a href="{{ link }}" class="name">{{ product.title }}</a>
                    </div>
                </div>{% endfor %}
        </div>
    </div>
    <section id="main" class="main">
        <div class="block0">
            <h2>почему стоит выбрать нас?</h2>
            <div class="grid">
                <div class="wrap-box">
                    <div class="box">
                        <img class="wow fadeIn hvr-grow" src="{{ asset('bundles/sitemain/frontend/images/icon1.png') }}" alt="" width="127px" height="124px"/>
                        <div class="name">опыт 15 лет</div>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <img class="wow fadeIn hvr-grow" src="{{ asset('bundles/sitemain/frontend/images/icon2.png') }}" alt="" width="130px" height="124px"/>
                        <div class="name">клиенты - первые лица страны</div>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <img class="wow fadeIn hvr-grow" src="{{ asset('bundles/sitemain/frontend/images/icon3.png') }}" alt="" width="109px" height="124px"/>
                        <div class="name">гарантия на все виды работ</div>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <img class="wow fadeIn hvr-grow" src="{{ asset('bundles/sitemain/frontend/images/icon4.png') }}" alt="" width="89px" height="133px"/>
                        <div class="name last">постэксплуатационное обслуживание</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block1">
            <h2>Почему важно сделать правильный выбор?</h2>
            <div class="grid">
                <div class="wrap-box">
                    <div class="box">
                        <div class="name">Безопасность</div>
                        <div class="wrap-img">
                            <img class="wow fadeIn hvr-grow"  src="{{ asset('bundles/sitemain/frontend/images/icon2-1.png') }}" alt="" width="118px" height="120px"/>
                        </div>
                        <div class="description">
                            Наша продукция соответствует
                            самым строгим требованиям
                            безопасности и имеет
                            все сертификаты.
                        </div>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <div class="name">Долговечность</div>
                        <div class="wrap-img">
                            <img class="wow fadeIn hvr-grow"  src="{{ asset('bundles/sitemain/frontend/images/icon2-2.png') }}" alt="" width="149px" height="121px"/>
                        </div>
                        <div class="description">
                            Мы выбираем только
                            самых надежный поставщиков,
                            используем качественные
                            и дорогие материалы.
                        </div>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <div class="name">Изящество</div>
                        <div class="wrap-img">
                            <img class="wow fadeIn hvr-grow"  src="{{ asset('bundles/sitemain/frontend/images/icon2-3.png') }}" alt="" width="156px" height="152px"/>
                        </div>
                        <div class="description">
                            Мы можем предложить как самые
                            современные решения в дизайне,
                            так и классику, в зависимости
                            от ваших предпочтений.
                        </div>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <div class="name">Окупаемость</div>
                        <div class="wrap-img">
                            <img class="wow fadeIn hvr-grow"  src="{{ asset('bundles/sitemain/frontend/images/icon2-4.png') }}" alt="" width="120px" height="117px"/>
                        </div>
                        <div class="description">
                            Выбирая качество, вы в итоге
                            сэкономите, потому что наша
                            продукция прослужит вам
                            многие годы.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block2">
            <div class="video"></div>
            <h2>Отзывы</h2>
            <div class="reviews">
                <div>
                    <div class="wrap-photo"><div class="photo"></div></div>
                    <div class="text">
                        <p>Строительство бассейна придаст вашему дому новый уровень комфорта, а так же превратит его во все сезонный курорт.&nbsp;<br />
                            Компания СЕАН АКВА-ТЕРМ специализируется на предоставлении комплекса услуг по проектированию, строительству&nbsp;и эксплуатации бассейнов. Нашими партнерами являются ведущие немецкие компании, работающие в сфере&nbsp;проектирования и производства оборудования</p>

                        <p><strong>компания &laquo;газпром&raquo;</strong></p>
                    </div>
                </div>
                <div>
                    <div class="wrap-photo"><div class="photo"></div></div>
                    <div class="text">
                        <p>Строительство бассейна придаст вашему дому новый уровень комфорта, а так же превратит его во все сезонный курорт.&nbsp;<br />
                            Компания СЕАН АКВА-ТЕРМ специализируется на предоставлении комплекса услуг по проектированию, строительству&nbsp;и эксплуатации бассейнов. Нашими партнерами являются ведущие немецкие компании, работающие в сфере&nbsp;проектирования и производства оборудования</p>

                        <p><strong>компания &laquo;газпром&raquo;</strong></p>
                    </div>
                </div>
                <div>
                    <div class="wrap-photo"><div class="photo"></div></div>
                    <div class="text">
                        <p>Строительство бассейна придаст вашему дому новый уровень комфорта, а так же превратит его во все сезонный курорт.&nbsp;<br />
                            Компания СЕАН АКВА-ТЕРМ специализируется на предоставлении комплекса услуг по проектированию, строительству&nbsp;и эксплуатации бассейнов. Нашими партнерами являются ведущие немецкие компании, работающие в сфере&nbsp;проектирования и производства оборудования</p>

                        <p><strong>компания &laquo;газпром&raquo;</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}