{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{#{% from 'SiteMainBundle:Frontend/News:macros.html.twig' import listTab %}#}

{% block content %}
    <div class="background-video">
        <div class="video" id="video"></div>
        <div class="grid">
            {% for product in products %}<div class="wrap-box">
                    <div class="box">
                        {% set link = path('frontend_products_one', {'permalink' : product.permalink}) %}
                        <a href="{{ link }}"><img src="{{ asset(product.webPath) }}" alt=""/></a>
                        <a href="{{ link }}" class="name">{{ product.title }}</a>
                    </div>
                </div>{% endfor %}
        </div>
    </div>
    <section id="main" class="main">
        <div class="block0">
            <h2>почему стоит выбрать нас?</h2>
            <div class="grid">
                <div class="wrap-box">
                    <div class="box">
                        <img src="{{ asset('bundles/sitemain/frontend/images/icon1.png') }}" alt=""/>
                        <div class="name">опыт 15 лет</div>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <img src="{{ asset('bundles/sitemain/frontend/images/icon2.png') }}" alt=""/>
                        <div class="name">клиенты - первые лица страны</div>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <img src="{{ asset('bundles/sitemain/frontend/images/icon3.png') }}" alt=""/>
                        <div class="name">гарантия на все виды работ</div>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <img src="{{ asset('bundles/sitemain/frontend/images/icon4.png') }}" alt=""/>
                        <div class="name">постэксплуатационное обслуживание</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block1">
            <h2>Почему важно сделать правильный выбор?</h2>
            <div class="grid">
                <div class="wrap-box">
                    <div class="box">
                        <div class="name">Безопасность</div>
                        <img src="{{ asset('bundles/sitemain/frontend/images/img1.jpg') }}" alt=""/>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <div class="name">Долговечность</div>
                        <img src="{{ asset('bundles/sitemain/frontend/images/img1.jpg') }}" alt=""/>
                    </div>
                </div><div class="wrap-box">
                    <div class="box">
                        <div class="name">Экономия</div>
                        <img src="{{ asset('bundles/sitemain/frontend/images/img1.jpg') }}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="block2">
            <h2>Отзывы</h2>
            <div class="reviews">
                <div>
                    <p>Строительство бассейна придаст вашему дому новый уровень комфорта, а так же превратит его во все сезонный курорт.&nbsp;<br />
                        Компания СЕАН АКВА-ТЕРМ специализируется на предоставлении комплекса услуг по проектированию, строительству&nbsp;и эксплуатации бассейнов. Нашими партнерами являются ведущие немецкие компании, работающие в сфере&nbsp;проектирования и производства оборудования</p>

                    <p><strong>компания &laquo;газпром&raquo;</strong></p>
                </div>
                <div>
                    <p>Строительство бассейна придаст вашему дому новый уровень комфорта, а так же превратит его во все сезонный курорт.&nbsp;<br />
                        Компания СЕАН АКВА-ТЕРМ специализируется на предоставлении комплекса услуг по проектированию, строительству&nbsp;и эксплуатации бассейнов. Нашими партнерами являются ведущие немецкие компании, работающие в сфере&nbsp;проектирования и производства оборудования</p>

                    <p><strong>компания &laquo;газпром&raquo;</strong></p>
                </div>
                <div>
                    <p>Строительство бассейна придаст вашему дому новый уровень комфорта, а так же превратит его во все сезонный курорт.&nbsp;<br />
                        Компания СЕАН АКВА-ТЕРМ специализируется на предоставлении комплекса услуг по проектированию, строительству&nbsp;и эксплуатации бассейнов. Нашими партнерами являются ведущие немецкие компании, работающие в сфере&nbsp;проектирования и производства оборудования</p>

                    <p><strong>компания &laquo;газпром&raquo;</strong></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}