{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{#{% from 'SiteMainBundle:Frontend/News:macros.html.twig' import listTab %}#}

{% block content %}
    <div class="background-video">
        <div class="video" id="video"></div>
        <div class="grid">
            {% for product in products %}<div class="wrap-box">
                    <div class="box">
                        {% set link = path('frontend_products_one', {'permalink' : product.permalink}) %}
                        <a href="{{ link }}"><img src="{{ asset(product.webPath) }}" alt=""/></a>
                        <a href="{{ link }}" class="name">{{ product.title }}</a>
                    </div>
                </div>{% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}