{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.portfolio.h1_show'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    <table class="record_properties table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ 'backend.portfolio.title'|trans({}, 'menu') }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'backend.portfolio.img'|trans({}, 'menu') }}</th>
            <td><a href="{{ asset(entity.webPath) }}" target="_blank"><img src="{{ image(entity.webPath).resize(150) }}" alt="{{ image(entity.webPath).resize(150) }}" width="150px"/></a></td>
        </tr>
        <tr>
            <th>{{ 'backend.portfolio.position'|trans({}, 'menu') }}</th>
            <td>{{ entity.position }}</td>
        </tr>
        <tr>
            <th>{{ 'backend.portfolio.description'|trans({}, 'menu') }}</th>
            <td>{{ entity.description }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_portfolio_index') }}">
                {{ 'backend.portfolio.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
        <li>
            <a href="{{ path('backend_portfolio_edit', { 'id': entity.id }) }}">
                {{ 'backend.edit'|trans({}, 'menu') }}
            </a>
        </li>
        <li>
            <a href="{{ path('backend_portfolio_new') }}">
                {{ 'backend.create'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}
