{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% block title %}{{ page.metaTitle }}{% endblock %}
{% block meta_description %}{{ page.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ page.metaKeywords }}{% endblock %}
{% block og_title %}{{ page.metaTitle }}{% endblock %}
{% block og_description %}{{ page.metaDescription }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sitemain/frontend/scripts/SidebarTransitions/component.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/styles/children.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/styles/page.css') }}">
{% endblock %}

{% block top %}
    <div class="wrap-video">
        <div class="video" id="video"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="content_portfolio">
            <div class="wrap_block_portfolio">
                <div class="inner_block_portfolio">
                    <div class="block-portfolio">
                        {% if page.slug == "kontakty" %}
                            <div class="map">
                                <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=7MQDyITlyUKBAz8AQNmKVWZgdmrro0vL&width=100%&height=450"></script>
                            </div>
                        {% endif %}
                        {% if page.slug == "intierniet-maghazin" %}
                            <div id="my-store-7336267"></div>
                            <div>
                                <script type="text/javascript" src="https://app.ecwid.com/script.js?7336267&data_platform=code&data_date=2015-07-30" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(3,3) list(10) table(20)","categoryView=grid","searchView=list","id=my-store-7336267");</script>
                            </div>
                        {% endif %}
                        {{ page.text|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}