{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.products.h1_edit'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    {{ form(edit_form, { 'style': 'horizontal', attr: {novalidate: 'novalidate'} }) }}

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_products_index') }}">
                {{ 'backend.products.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}
