{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% from 'SiteMainBundle:Frontend/Products:macros.html.twig' import menuLeft %}
{% from 'SiteMainBundle:Frontend/Products:macros.html.twig' import breadcrumbs %}

{% block title %}{% if app.request.attributes.get('_route') == 'frontend_products_one' %}{{ product.metaTitle }}{% elseif app.request.attributes.get('_route') == 'frontend_element_one' %}{{ element.metaTitle }}{% endif %}{% endblock %}
{% block meta_description %}{% if app.request.attributes.get('_route') == 'frontend_products_one' %}{{ product.metaDescription }}{% elseif app.request.attributes.get('_route') == 'frontend_element_one' %}{{ element.metaDescription }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if app.request.attributes.get('_route') == 'frontend_products_one' %}{{ product.metaKeywords }}{% elseif app.request.attributes.get('_route') == 'frontend_element_one' %}{{ element.metaKeywords }}{% endif %}{% endblock %}
{% block og_title %}{% if app.request.attributes.get('_route') == 'frontend_products_one' %}{{ product.metaTitle }}{% elseif app.request.attributes.get('_route') == 'frontend_element_one' %}{{ element.metaTitle }}{% endif %}{% endblock %}
{% block og_description %}{% if app.request.attributes.get('_route') == 'frontend_products_one' %}{{ product.metaDescription }}{% elseif app.request.attributes.get('_route') == 'frontend_element_one' %}{{ element.metaDescription }}{% endif %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sitemain/frontend/scripts/SidebarTransitions/component.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/styles/children.css') }}">
{% endblock %}

{% block top %}
    <div class="wrap-video">
        <div class="video" id="video"></div>
    </div>
{% endblock %}

{% block stMenu %}
    <nav class="st-menu st-menu-block st-effect-1" id="st-menu-block">
    </nav>
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Left menu -->
        <div class="menu-left">
            <ul>
                {{ menuLeft(products) }}
            </ul>
        </div>
        <!-- end Left menu -->

        <!-- Content -->
        <div class="content">

            <div class="wrap_head"><div class="head">{{ product.title }}</div></div>

            <!-- Text -->
            <div class="wrap_text">
                <div class="text">
                    {{ product.text|raw }}

                    {% if product.blocks|length > 0 %}
                        {% for block in product.blocks %}
                            {{ block.textTop|raw }}

                            <div class="blocks">

                                <h2 class="head-block">{{ block.title }}</h2>

                                {% for element in block.elements %}<div class="wrap-block">
                                        <div class="block" data-text="{{ (render(url('frontend_element_content', {slug : element.slug})))|json_encode }}" data-href="{{ path('frontend_element_one', {permalink: element.block.product.permalink,slug : element.slug}) }}">
                                            <img src="{{ image(element.webPath).zoomCrop(220, 228) }}" alt=""/>
                                            <div class="title">
                                                {{ element.title }}
                                            </div>
                                        </div>
                                    </div>{% endfor %}

                            </div>

                            {{ block.textBottom|raw }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <!-- end Text -->

            <div class="footer2">
                <div class="inner">
                    <div class="left">
                        Контакты г. Москва, ул. Короленко 2/23,<br/>
                        Телефон: (495) 664-30-69, 626-86-43, 626-86-44, e-mail: <a href="mailto:websean@mail.ru">websean@mail.ru</a>
                    </div>
                    <div class="right">
                        ООО "СК-СЕАН-АКВА-ТЕРМ"<br/>
                        &copy; 2011 Группа компаний "СЕАН". Все права защищены.
                    </div>
                </div>
            </div>
        </div>
        <!-- end Content -->
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sitemain/frontend/scripts/scroll.js') }}"></script>
    {% if app.request.get('permalink') %}
        <script type="text/javascript">
            $(function(){
                {% if app.request.attributes.get('_route') == 'frontend_element_one' %}
                    $('*[data-href="{{ path('frontend_element_one', {'permalink' : app.request.get('permalink'), 'slug' : app.request.get('slug')}) }}"]').click();
                {% endif %}
            });
        </script>
    {% endif %}
{% endblock %}