{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% from 'SiteMainBundle:Frontend/Products:macros.html.twig' import menuLeft %}
{% from 'SiteMainBundle:Frontend/Products:macros.html.twig' import breadcrumbs %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/styles/children.css') }}">
{% endblock %}

{% block top %}
    <div class="wrap-video">
        <div class="video" id="video"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Left menu -->
        <div class="menu-left">
            <ul>
                {{ menuLeft(products) }}
            </ul>
        </div>
        <!-- end Left menu -->

        {% for p in products2 %}
            <!-- Content -->
            <div class="content" id="{{ path('frontend_products_one', {'permalink' : p.permalink}) }}">

                <div class="wrap_head"><div class="head">{{ p.title }}</div></div>

                <!-- Text -->
                <div class="wrap_text">
                    <div class="text">
                        {{ p.text|raw }}
                    </div>
                </div>
                <!-- end Text -->

                <div class="footer"></div>
            </div>
            <!-- end Content -->
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sitemain/frontend/scripts/scroll.js') }}"></script>
    {% if app.request.get('permalink') %}
        <script type="text/javascript">
            $(function(){
                if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    $(".content").hide();
                    $("*[id='{{ path('frontend_products_one', {'permalink' : app.request.get('permalink')}) }}']").show();
                    $(window).load(function () {
                        $("a[href='{{ path('frontend_products_one', {'permalink' : app.request.get('permalink')}) }}']").parent().addClass('current');
                        if("{{ path('frontend_products_one', {'permalink' : app.request.get('permalink')}) }}" == $('.menu-left > ul > li:first > a').attr('href')){
                            $('body').scrollTop(0);
                        }else{
                            $('body').scrollTop($("*[id='{{ path('frontend_products_one', {'permalink' : app.request.get('permalink')}) }}']").offset().top);
                        }
                    });
                }
            });
        </script>
    {% endif %}
{% endblock %}