{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% from 'SiteMainBundle:Frontend/Products:macros.html.twig' import menuLeft %}
{% from 'SiteMainBundle:Frontend/Products:macros.html.twig' import breadcrumbs %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/styles/children.css') }}">
{% endblock %}

{% block content %}
    <div class="container">

        <!-- Left menu -->
        <div class="menu-left">
            <ul>
                {{ menuLeft(products) }}
            </ul>
        </div>
        <!-- end Left menu -->

        {% for p in products2 %}
            <!-- Content -->
            <div class="content" id="{{ path('frontend_products_one', {'permalink' : p.permalink}) }}">

                <div class="wrap_head"><div class="head">{{ p.title }}</div></div>

                <!-- Text -->
                <div class="wrap_text">
                    <div class="text">
                        {{ p.text|raw }}
                    </div>
                </div>
                <!-- end Text -->

            </div>
            <!-- end Content -->
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/sitemain/frontend/bower_components/sticky/jquery.sticky.js') }}"></script>
{% endblock %}