{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sitemain/backend/js/uploadify/uploadify.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content -%}
    <h1>{{ 'backend.element.h1_edit'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    {{ form_start(edit_form, { 'style': 'horizontal' , attr: {novalidate: 'novalidate'} }) }}
    {{ form_row(edit_form.block) }}
    {{ form_row(edit_form.title) }}
    {% if entity.slider|length > 0 %}
        <table class="table">
            <thead>
            <th>Удалить</th>
            <th>Фото</th>
            </thead>
            <tbody>
            {% for slider in entity.slider %}
                <tr>
                    <td><input name="sliders[]" type="checkbox" value="{{ slider.id }}"/></td>
                    <td><a href="{{ asset(slider.img) }}" target="_blank"><img src="{{ image(slider.img).zoomCrop(50, 50) }}" alt="{{ image(slider.img).zoomCrop(50, 50) }}"/></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {{ form_row(edit_form.sliderGallery) }}
    {{ form_row(edit_form.file) }}
    {{ form_row(edit_form.text) }}
    {{ form_row(edit_form.position) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_element_index') }}">
                {{ 'backend.element.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sitemain/backend/js/uploadify/jquery.uploadify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sitemain/backend/js/init_uploadify_slider.js') }}"></script>
{% endblock %}