{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.element.h1_show'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    <table class="record_properties table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ 'backend.element.title'|trans({}, 'menu') }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'backend.element.block'|trans({}, 'menu') }}</th>
            <td>{{ entity.block.title }}</td>
        </tr>
        <tr>
            <th>{{ 'backend.element.metaTitle'|trans({}, 'menu') }}</th>
            <td>{{ entity.block.metaTitle }}</td>
        </tr>
        <tr>
            <th>{{ 'backend.element.metaDescription'|trans({}, 'menu') }}</th>
            <td>{{ entity.block.metaDescription }}</td>
        </tr>
        <tr>
            <th>{{ 'backend.element.metaKeywords'|trans({}, 'menu') }}</th>
            <td>{{ entity.block.metaKeywords }}</td>
        </tr>
        {% if entity.webPath %}
            <tr>
                <th>{{ 'backend.element.img'|trans({}, 'menu') }}</th>
                <td><a href="{{ asset(entity.webPath) }}" target="_blank"><img src="{{ image(entity.webPath).resize(150) }}" alt="{{ entity.title }}" width="150px"/></a></td>
            </tr>
        {% endif %}
        <tr>
            <th>{{ 'backend.element.position'|trans({}, 'menu') }}</th>
            <td>{{ entity.position }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_block_index') }}">
                {{ 'backend.block.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
        <li>
            <a href="{{ path('backend_block_edit', { 'id': entity.id }) }}">
                {{ 'backend.edit'|trans({}, 'menu') }}
            </a>
        </li>
        <li>
            <a href="{{ path('backend_block_new') }}">
                {{ 'backend.create'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}
