{% macro listTab(news) %}
    <ul class="news-list">
        {% for n in news %}
            <li data-effect="st-effect-1" data-text="{{ n.text|json_encode }}">
                <div class="box">
                    <div class="img">
                        <img src="{{ image(n.webPath).zoomCrop(70, 70).jpeg(100) }}" alt="" width="70px" height="70px"/>
                    </div>
                    <div class="info">
                        <h2>{{ n.title }}</h2>
                        <div class="date">{{ n.date|localizeddate('long', 'none', null, null, 'd MMMM Y') }}</div>
                        <div class="description">{{ n.description }}</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}