{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% block title %}{{ 'frontend.news.title'|trans({}, 'menu') }} | {{ news.metaTitle }}{% endblock %}
{% block meta_description %}{{ news.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ news.metaKeywords }}{% endblock %}

{% block content %}
    <div class="wrap_content">
        <div class="content">
            <h1 class="h1_news">{{ news.title }}</h1>
            {{ news.text|raw }}
        </div>
    </div>
{% endblock %}