{% macro listTabComments(comments) %}
    <ul class="news-list">
        {% for c in comments %}
            <li data-effect="st-effect-1" data-text="{{ c.text|json_encode }}">
                <div class="box">
                    <div class="img">
                        <img src="{{ image(c.webPath).zoomCrop(70, 70).jpeg(100) }}" alt="" width="70px" height="70px"/>
                    </div>
                    <div class="info">
                        <h2>{{ c.title }}</h2>
                        <div class="date">{{ c.date|localizeddate('long', 'none', null, null, 'd MMMM Y') }}</div>
                        <div class="description">{{ c.description }}</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}