<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Sablin (Новая заявка)</title>
</head>
<body style="margin: 0px; width: 700px; font-family: Arial; letter-spacing: 2px;">
<div class="content">
    <table class="table" style="border-collapse: collapse;">
        <tr>
            <td>{{ 'frontend.feedback.placeholder.name'|trans }}</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>{{ 'frontend.feedback.placeholder.phone'|trans }}</td>
            <td>{{ form.phone }}</td>
        </tr>
        <tr>
            <td>{{ 'frontend.feedback.placeholder.email'|trans }}</td>
            <td>{{ form.email }}</td>
        </tr>
        <tr>
            <td>{{ 'frontend.feedback.placeholder.theme'|trans }}</td>
            <td>{{ form.theme }}</td>
        </tr>
        <tr>
            <td>{{ 'frontend.feedback.placeholder.message'|trans }}</td>
            <td>{{ form.message }}</td>
        </tr>
    </table>
</div>
</body>
</html>
